name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Build (Linux)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - run: cargo check
      - run: cargo build
      - run: cargo test
